<div class="header">
    <img src="/images/trr-logo.png" alt="Tara Rani Rose Mobile Beauty" />
    <div class="nav">
        	<ul>
            	<li class="home"><a class="navLink" href="/index.html">Home</a></li>
                <li class="about"><a class="navLink" href="/about.html">About</a></li>
                <li class="treatments"><a class="navLink" href="#">Treatments</a>
                	<ul class="dropDown">
                    	<li><a href="/treatments/facials.html">Facials</a></li>
                        <li><a href="/treatments/body-beautiful.html">Body Beautiful</a></li>
                        <li><a href="/treatments/gorgeous-hands.html">Gorgeous Hands</a></li>
                        <li><a href="/treatments/gorgeous-feet.html">Gorgeous Feet</a></li>
                        <li><a href="/treatments/mysterious-eyes.html">Mysterious Eyes</a></li>
                        <li><a href="/treatments/waxing.html">Waxing</a></li>
                        <li><a href="/treatments/make-up.html">Make Up</a></li>
                        <li><a href="/treatments/bridal.html">Bridal</a></li>
                        <li><a href="/treatments/special-parties.html">Special Parties</a></li>
                    </ul>
                </li>
                <li class="brides"><a class="navLink" href="/brides.html">Brides</a></li>                
            </ul>
    </div>
</div>